<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <H1>填写志愿者评价</H1>
            <fieldset class="form-group">
                <textarea class="form-control" name="content" placeholder="请输入评价内容" required="required"
                    rows="5"></textarea>
            </fieldset>


            <button type="submit" class="btn btn-success">保存</button> &nbsp;&nbsp;
            <button type="reset" class="btn btn-success">重置</button>

        </div>
    </div>
</div>