<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>活动名称</th>
            <th>活动内容</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>发布时间</th>
            <th>报名状态</th>
            <th>完成状态</th>
            <th>修改活动</th>
            <th>删除活动</th>
            <th>公益时长申报</th>
            <th>志愿者管理</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activities">
            <td class="align-middle">{{ activity.name }}</td>
            <td class="align-middle">{{ activity.content }}</td>
            <td class="align-middle">{{ activity.startTime | date }}</td>
            <td class="align-middle">{{ activity.endTime | date }}</td>
            <td class="align-middle">{{ activity.publishTime | date }}</td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='STARTED'"> 已开始 </td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='FINISHED'"> 已结束 </td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='PAUSED'"> 已暂停 </td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='NOT_STARTED'"> 未开始 </td>
            <td class="align-middle" *ngIf="activity.isCompleted=='0'"> 未完成 </td>
            <td class="align-middle" *ngIf="activity.isCompleted=='1'"> 已完成 </td>
            <td class="align-middle"><a routerLink="/updateActivity/{{ activity.id }}" manageVolunteer="active-link">修改活动</a></td>
            <td class="align-middle"><a (click)="deleteActivity(activity.id)">删除活动</a></td>
            <td class="align-middle"><a (click)="applyCampaignTime(activity.startTime, activity.endTime)">公益时长申报</a></td>
            <td class="align-middle"><a routerLink="/manageVolunteer/{{activity.id}}" manageVolunteer="active-link">志愿者管理</a></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</div>
