<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">


            <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" ngNativeValidate>
                <H1>请更改密码</H1>
                <div class="form-group">
                    <label>*密码:</label>
                    <input type="password" class="form-control" name="password" placeholder="请输入至少6位新密码" minlength="6"
                        ngModel required/>
                </div>
                <div class="form-group">
                    <label>*确认密码:</label>
                    <input type="password" class="form-control" name="comfirmPassword" placeholder="请输入确认密码"
                        minlength="6" ngModel required />
                </div>

               
                <button type="submit" class="btn btn-success">保存</button> &nbsp;&nbsp;
                <button type="reset" class="btn btn-success">重置</button>

            </form>

            <!-- {{commentForm.value | json}} -->

        </div>
    </div>
</div>