<div class="main-content"> 
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            
    
            <H2>账户信息</H2>
            <hr/>


    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" ngNativeValidate>
        <H4>注册信息</H4>
        <div> <input type="hidden" name="id" [(ngModel)]="user.id"></div>
        <fieldset class="form-group">
            <label>*用户名:</label>
            <input type="text" class="form-control" name="userName" placeholder="请输入至少4位用户名" required="required" minlength="4" [(ngModel)]="user.userName">
        </fieldset>

        <div *ngIf="isCreate()">
        <fieldset class="form-group">
            <label>*密码:</label>
            <input type="password" class="form-control" name="password" placeholder="请输入至少6位密码" required="required" minlength="6" [(ngModel)]="user.password">
        </fieldset>

        <fieldset class="form-group">
            <label>*确认密码:</label>
            <input type="password" class="form-control" name="confirmPassword" placeholder="请输入至少6位密码" required="required" minlength="6" [(ngModel)]="user.confirmPassword">
        </fieldset>
        </div>

        <H4>个人信息</H4>
        <fieldset class="form-group">
            <label>*姓名:</label>
                <input type="text" class="form-control" name="name" placeholder="请输入个人姓名" required="required" minlength="2" [(ngModel)]="user.name">
        </fieldset>

        <fieldset class="form-group">
            <label>*性别:</label>
            <div class="form-check ">
                <input type="radio" name="gender" value="0" [(ngModel)]="user.gender" /> 男
                <input type="radio" name="gender" value="1" [(ngModel)]="user.gender" /> 女
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label>*电话：</label>
                    <input type="text" class="form-control" name="phoneNumber" placeholder="请输入11位手机号码" required="required" minlength="11" [(ngModel)]="user.phoneNumber">
        </fieldset>

        <fieldset class="form-group">
            <label>地址：</label>
                    <input type="text" class="form-control" name="address" placeholder="请输入联系地址" [(ngModel)]="user.address">
        </fieldset>

        <button type="submit" class="btn btn-success" >保存</button> &nbsp;&nbsp;
        <button type="reset" class="btn btn-success" >重置</button>
    </form>
</div>
    </div>
</div>