<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>活动名称</th>
            <th>活动内容</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>发布时间</th>
            <th>报名状态</th>
            <th>立即报名</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activities">
            <td class="align-middle">{{ activity.name }}</td>
            <td class="align-middle">{{ activity.content }}</td>
            <td class="align-middle">{{ activity.startTime | date }}</td>
            <td class="align-middle">{{ activity.endTime | date }}</td>
            <td class="align-middle">{{ activity.publishTime | date }}</td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='STARTED'"> 已开始 </td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='FINISHED'"> 已结束 </td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='PAUSED'"> 已暂停 </td>
            <td class="align-middle" *ngIf="activity.enrollState.toString()=='NOT_STARTED'"> 未开始 </td>

            <td><button (click)="addRegister(activity.id)" class="btn btn-info">立即报名</button></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</div>
