<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <div *ngIf=isLogin()>
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a href="#">
          <img src="assets/images/logo.png" alt="Volunteer" class="img-responsive">
        </a>
      </div>
      <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar-list">
            <div *ngIf=isManager()>
              <li>
                <a routerLink="/addActivity" routerLinkActive="active-link">发布活动</a>
              </li>
              <li>
                <a routerLink="/showActivity" routerLinkActive="active-link">所有活动</a>
              </li>
              <li>
                <a routerLink="/addUser" routerLinkActive="active-link">添加用户</a>
              </li>
              <li>
                <a routerLink="/showUser" routerLinkActive="active-link">查看用户</a>
              </li>
            </div>

            <div *ngIf=isVolunteer()>
              <li>
                <a routerLink="/showMyActivity" routerLinkActive="active-link">我的活动</a>
              </li>
              <li>
                <a routerLink="/showAllActivity" routerLinkActive="active-link">查看活动</a>
              </li>
              <li>
                <a routerLink="/updateMyUser" routerLinkActive="active-link">注册信息</a>
              </li>
              <li>
                <a routerLink="/updatePassword" routerLinkActive="active-link">修改密码</a>
              </li>
            </div>
          </ul>
        </nav>
      </div>
    </aside>
  </div>
  <!-- END MENU SIDEBAR-->


  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <h1 id="banner">志愿者管理系统</h1>
            <div *ngIf="isLogin(); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <a (click)="logout()" class="btn btn-primary" routerLinkActive="active-link">退出</a>
            </ng-template>
            <ng-template #elseBlock>
              <a routerLink="/login" class="btn btn-primary" routerLinkActive="active-link">登录</a>
              <a routerLink="/addUser" class="btn btn-primary" routerLinkActive="active-link">注册</a>
            </ng-template>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>

    <!--main container-->
    <router-outlet></router-outlet>


  </div>
</div>

<!--End page container-->
<footer class="footer">
  <div class="container">
    <span class="text-muted">All Rights Reserved 2020</span>
  </div>

</footer>