<div class="main-content"> 
    <div class="section-content section-content-p30">
        <div class="container-fluid">
    
            <H1>发布活动</H1>


    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">

        <fieldset class="form-group">
            <label>*活动名称:</label>
            <input type="text" class="form-control" name="name" placeholder="请输入活动名称" required="required" minlength="4" ngModel>
        </fieldset>

        <fieldset class="form-group">
            <label>*活动内容:</label>
            <textarea class="form-control" name="content" placeholder="请输入活动内容" required="required" rows="5" ngModel></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label>*开始时间:</label>
            <input type="date" class="form-control" name="startTime" placeholder="MM/DD/YYYY" required="required" ngModel>
        </fieldset>

        <fieldset class="form-group">
            <label>*结束时间:</label>
            <input type="date" class="form-control" name="endTime" placeholder="MM/DD/YYYY" required="required" ngModel>
        </fieldset>

        <fieldset class="form-group">
            <label>*开始报名:</label>
            <div class="form-check">
                <input type="radio"  name="enrollState" value="STARTED" [(ngModel)] = "enrollState"> 是
                <input type="radio"  name="enrollState" value="NOT_STARTED" [(ngModel)] = "enrollState"> 否
                
            </div>
        </fieldset>

        <button type="submit" class="btn btn-info" >保存</button> &nbsp; &nbsp;

        <button type="reset" class="btn btn-info" >重置</button>
    </form>
</div>
</div>
</div>