<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>电话</th>
                            <th>住址</th>
                            <th>注册日期</th>
                            <th>修改用户</th>
                            <th>删除用户</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="align-middle">{{ user.userName }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.phoneNumber}}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.registerDate | date }}</td>
                            <td><button (click)="updateAUser(user.userName)" >删除用户</button></td>
                            <td><button (click)="deleteAUser(user.userName)" >删除用户</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>